.createpost{
    max-width: 95%;
    width: 675px;
    margin: auto;
    margin-top: 40px;
}
.add-post{
    background-color: #141414ef;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #6262624f;
    padding: 10px;
}
img{
    height: 40px;
}
.username{
    font-size: 1em;
    padding: .7em;
    width: 40em;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 1.5em;
    background-color: #333333;
    color: lightgray;
    outline: none;
}


.status{
    display: flex;
    padding: 1em;
    flex-direction: row;
}

.status > img{
    height: 40px;
}

.line{
    background-color: #53535331;
    height: 1px;
    width: 90%;
    align-self: center;
}

.upload{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.upload > img {
    height: 30px;
    margin-right: 5px;
}
.upload > a{
    margin-top: 5px;
    color: lightgray;
}

.submit{
    display: block;
    margin: auto;
    width: 7em;
    cursor: pointer;
    font-size: 1.2em;
    padding: .4em .9em;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 1.5em;
    background-color: #333333;
    color: lightgray;
    transition: .5s;    
}

.submit:hover{
    background-color: #3b3b3be8;
    color: white;
}

