.createpost{
    max-width: 95%;
    width: 675px;
    margin: auto;
    margin-top: 40px;
}
.add-post{
    background-color: #0c0c0c;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #6262625d;
    padding: 10px;
}
img{
    height: 40px;
}
.username{
    font-size: 1em;
    padding: .7em;
    width: 40em;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.151);
    background-color: #0c0c0c;
    color: lightgray;
    border-radius: 1.5em;
    outline: none;
}

input:required{
    box-shadow: none;
}


.status{
    display: flex;
    padding: 1em;
    flex-direction: row;
}

.status > img{
    height: 40px;
}

.line{
    background-color: #53535331;
    height: 1px;
    margin: auto;
    width: 90%;
}

.upload{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.upload > img {
    height: 30px;
    margin-right: 5px;
}

.upload > input[type="file"]{
    display: none;
}

label{
    color: lightgray;
    cursor: pointer;
    margin-top: 3px;
}

.add-post > p{
    color: aqua;
    text-align: center;
    margin-top: 4px;
}

label:hover{
    color: white;
}

.submit{
    display: block;
    margin: auto;
    width: 7em;
    cursor: pointer;
    font-size: 1.2em;
    padding: .4em .9em;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 1.5em;
    background-color: #0c0c0c;
    color: lightgray;
    transition: .3s;    
}

.submit:hover{
    /* background-color: #3b3b3be8; */
    border: 1px solid purple;
    color: white;
}

