.edit-post{
    background-color: #1b1b1b;
    position: absolute;
    right: 0;
    margin-right: 60px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}
.edit-post > input{

    font-size: 1em;
    padding: .3em;
    width: 70%;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 1.5em;
    background-color: #333333;
    color: lightgray;
    outline: none;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1b1b1b;
    border: none;
    outline: none;
}   
.close-button > img{
    background-color: #1b1b1b;
    height: 15px;
    margin: 10px;
    cursor: pointer;
}
.update-button{
    margin: 15px 15px 15px 100px;
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    border-radius: 1.5em;
    background-color: #333333;
    color: lightgray;
    transition: .3s;
    cursor: pointer;
}
.update-button:hover{
    color: white;
}