.navbar{
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #141414ef;
    box-shadow: -4px 0px 5px 0px #0000004f;
    display: flex;
    flex-direction: row;
    z-index: 999;
    border-bottom:1px solid aqua;
    color: aqua;
}
.navbar > p{
    font-size: 1.4em;
    padding: 0;
    margin-left: 10px;
}

.navbar .user{
    flex: 1;
    display: flex;
    justify-content: right;
    padding-top: 11px;
    padding-right: 20px;
}

.navbar .username > p{
    cursor: pointer;
}

.navbar .logout{
    flex: 1;
    height: 30px;
    width: 30px;
    padding: 20px;
    cursor: pointer;
}

.navbar .logout-button{
    display: flex;
    flex-direction: row;
}
.navbar .logout-button > a{
    padding-top: 27px;
    padding-right: 20px;
    color: aqua;
}