.navbar{
    width: 100%;
    height: 63px;
    top: 0;
    background-color: black;
    position: fixed;
    display: flex;
    z-index: 999;
    border-bottom:1px solid transparent;
    border-image: linear-gradient(35deg, #24a2ff 25%, #a01dfd 45%, #ff3232 70%);
    border-image-slice: 1;
    line-height: 40px;
}

a{
    outline: none;
}

.navbar > a > h1{
    font-size: 1.3em;
    padding: 0 10px;
    background: linear-gradient(35deg, #24a2ff 25%, #a01dfd 45%, #ff3232 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Pacifico', cursive;
    outline: none;
}

.navbar > p{
    flex: 1;
}

.navbar .user{
    color: white;
    display: flex;
    padding-right: 20px;
}

.UserDP{
    height: 35px;
    margin-right: 6px;
    margin-top: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .UserDP{
        margin-top: 15px;
    }
  }

.logout{
    margin-top: 18px;
    padding-right: 20px;
    color: aqua;
}